/* RESET STYLING */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM STYLING STARTS HERE */

*,
*::before,
*::after {
  font-family: Courier, monospace;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeccee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
}

.checkbox {
  display: none;
}

.label {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  position: relative;
  transform: scale(2);
}

.ball {
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translate(24px);
}

.sun {
  color: #f39c12;
}

.moon {
  color: #f1c40f;
}
